{% load i18n %}{% autoescape off %}
{% translate "Dear" %} {{ user.get_username }},

{% translate "To reset your password click this link:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

{% translate "If you you have not requested a password reset simply ignore this message." %}
{% translate "Thanks for using our site!" %}

{% translate "Sincerely," %}
{% blocktranslate %}The {{ site_name }} Team{% endblocktranslate %}

{% endautoescape %}